.hero {
  max-height: 684px;
  height: 100%;
  background: #06071b;
  margin-bottom: 65px;
  & .container {
    position: relative;
  }
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  padding-top: 243px;
  margin-bottom: 12px;
}
.hero-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 28px;
}
.hero-list {
  margin-bottom: 60px;
}
.hero-list-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 119%;
}
.hero-list-item + .hero-list-item {
  margin-top: 12px;
}
.hero-button {
  max-width: 200px;
  max-height: 42px;
  padding: 12px 60px;
  margin-bottom: 146px;

  font-size: 16px;
  font-weight: 700;
  line-height: 119%;

  border-radius: 5px;
  background: linear-gradient(
    98.75deg,
    rgb(0, 197, 235) -1.739%,
    rgb(181, 68, 254) 89.191%
  );
}

.hero-img-decor {
  position: absolute;
  left: 324px;
  top: 227px;
}
.hero-img-mobila {
  position: absolute;
  right: -30px;
  top: 110px;
}
