.team {
  color: #000;
  padding-top: 80px;
}

.team-title {
  text-align: center;
  margin-bottom: 80px;
}
.team-about {
  max-width: 886px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.team-cards {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.team-card-item {
  flex-basis: calc((100% - 3 * 32px) / 4);
  padding: 14px 12px 12px 12px;
  border-radius: 15px;
}
.team-card-item:nth-child(2n + 1) {
  backdrop-filter: blur(35px);
  background: linear-gradient(
      -41.72deg,
      rgba(0, 197, 235, 0.5) -2.161%,
      rgba(181, 68, 254, 0.5) 112.651%
    ),
    rgb(6, 7, 27);
}
.team-card-item:nth-child(2n) {
  background: linear-gradient(
      114.64deg,
      rgba(0, 197, 235, 0.5) -6.282%,
      rgba(181, 68, 254, 0.5) 96.494%
    ),
    rgb(6, 7, 27);
}
.team-card-item:nth-child(3n + 3) {
  background: linear-gradient(
      197.43deg,
      rgba(0, 197, 235, 0.5) 3.916%,
      rgba(181, 68, 254, 0.5) 111.524%
    ),
    rgb(6, 7, 27);
}
.team-card-item:nth-child(4n + 4) {
  background: linear-gradient(
      -40.94deg,
      rgba(0, 197, 235, 0.5) -8.17%,
      rgba(181, 68, 254, 0.5) 85.329%
    ),
    rgb(6, 7, 27);
}

.team-img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.team-card-title {
  text-align: center;
  margin-bottom: 12px;
}
.team-card-text {
  text-align: center;
}
