// ======NULL STYLES=====
@import '..//scss/null';

// =====ЗМІННІ=====
// Мінімальна ширина сторінки
$minWidth: 320px;
// Ширина полотна (макету)
$maxWidth: 1280px;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1248px;
// Загальний відступ у контейнера
// (15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 16px;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding * 2;

// =====ЗАГАЛЬНІ STYLES=====
@import '../scss/common';

//=====HEADER=====';
@import '../scss/header';

// ===== MAIN=====
@import '../scss/hero';
@import '../scss/features';
@import '../scss/aboutus';
@import '../scss/team';
@import '../scss/review';
@import '../scss/contact';

// =====FOOTER=====
@import '../scss/footer';
